.carrousel-viewport {
  text-align: center;

  width: 100%;
  margin: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  filter: drop-shadow(0 0 10px #0003);
}

.carrousel-viewport::-webkit-scrollbar {
  display: none;
}

.carrousel-item {
  padding: 3%;
  height: 300px;
  width: 200px;
}
.carrousel-item img {
  border-radius: 8px;
}
